.filterLabel {
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filterLabel input {
  display: block;
  border-radius: 5px;
  padding: 5px;
}

.filterLabel input:focus {
  border-color: rgb(133, 133, 237);
  outline: 0;
  box-shadow: 0 0 1px 2px rgba(39, 34, 178, 0.7);
}
